<div class="content">
	<h3><b>Occurrence of crystals in nature</b></h3>

	<p><i>https://en.wikipedia.org/wiki/Crystal</i></p>
	
	<p>Some crystals have formed by magmatic and metamorphic processes, giving origin to large masses of crystalline rock. The vast majority of igneous rocks are formed from molten magma and the degree of crystallization depends primarily on the conditions under which they solidified. Such rocks as granite, which have cooled very slowly and under great pressures, have completely crystallized; but many kinds of lava were poured out at the surface and cooled very rapidly, and in this latter group a small amount of amorphous or glassy matter is common.</p>

	<p>Water-based ice in the form of snow, sea ice and glaciers is a very common manifestation of crystalline or polycrystalline matter on Earth. A single snowflake is a single crystal or a collection of crystals, while an ice cube is a polycrystal.</p>

	<button (click)="showChildModal()">A little more about crystals</button>
</div>