.modal-header {
  padding: 13px 16px;
}
.modal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

/*
 * Desktop mode 
 */

:host.modal-desktop {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  position: fixed;
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

:host.modal-desktop .modal-container {
	position: fixed;
  position: static;
  display: flex;
  max-height: calc(100% - 32px);
  width: 800px;	
  max-width: calc(100% - 32px);
  padding-top: 40px;
  box-sizing: border-box;
	z-index: 10000;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0;
  transition: transform 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transform: translateY(10vh);
  pointer-events: auto;
}
:host.modal-desktop .modal-wrapper {
  padding: 16px;
  overflow-y: auto;
  max-height:calc(100vh - 32px - 40px);
  width: 100%;
  box-sizing: border-box;
}

:host.modal-desktop.modal-show .modal-container {
  transform: translateY(0vh);
  opacity: 1;
}

:host.modal-desktop .modal-close {
	width: 32px;
	height: 32px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3c/svg%3e") center no-repeat;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 8px;
	opacity: 0.6;
}
:host.modal-desktop .modal-close:hover {
	opacity: 1;
}

:host .modal-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000; 
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  z-index: 10000;
  pointer-events: auto;
}
:host.modal-show .modal-overlay-backdrop {
  opacity: 0.4;
}

/*
 * Mobile mode 
 */

:host.modal-mobile .modal-container {
  transform: translateY(100vh);
  transition: transform 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 10000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

:host.modal-mobile.modal-show .modal-container {
	transform: translateY(0);
}

:host.modal-mobile .modal-wrapper {
	position: absolute;
  top: 40px;
	height: calc(100% - 40px);
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	box-sizing: border-box;
}

:host.modal-mobile .modal-scroll-content {
  position: absolute;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  padding: 0 16px 16px 16px;

  z-index: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  left: 0;
  top: 0;
  bottom: 0;
}

:host.modal-mobile .modal-close {
	width: 32px;
	height: 32px;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3c/svg%3e") center no-repeat;
  cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	opacity: 0.6;
}